<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-page">
  <form [formGroup]="LoginForm" validate (ngSubmit)="formSubmit()">
    <ion-list>
      <div class="item">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <span class="error" *ngIf="f.controls['email']?.errors?.['required']">
          Email is required.
        </span>
        <span class="error" *ngIf="f.controls['email']?.errors?.['email']">
          Please enter valid email.
        </span>
      </div>
      <div class="item">
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password" formControlName="password" required></ion-input>
        </ion-item>
        <span class="error" *ngIf="f.controls['password']?.errors?.['required']">
          Password is required.
        </span>
      </div>
    </ion-list>
    <ion-button type="submit" color="medium" expand="block">Submit</ion-button>
  </form>
</ion-content>
